
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box !important;
}

    /* Head */
.headbackground{
    background-image: url(../Image/Backgroundimage.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
}
.headwidth{
    width: 1800px;
    margin: auto;
}
nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
nav img{
    width: 150px;
    height: 95px;
}
nav ul li button{
    padding: 5px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
nav ul li button:hover{
    transform: scale(1.1);
}
nav ul li{
    list-style-type: none;
    padding: 15px;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

/* body*/

.container{
    width: 1500px;
    margin: auto;
}
.detail1{
    margin-top: 100px;
}
#title{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
}
#text{
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
}


/* Shoes */

.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
}
.col1{
    width: 670px;
    margin-top: 20px;
}
.col2{
    width: calc(100% - 680px);
    height: 100px;
}

.flex .col1 img{
    width: 100%;
}

.data1{
    display: flex;
}
.data2{
    display: flex;
    margin-top: 77px;
}
.data3,.data4,.data5{
    display: flex;
    margin-top: 79px;
}
#item{
    display: flex;
    padding: 10px;
    width: 350px;
    background-color: black;
    color: white;
    font-size: 25px;
}
#text1{
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
}

/*Roadmad text*/

#title{
    font-size: 49px;
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
}
.tblimage{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


#ipt{
    text-align: center;
    margin-top: 80px;
    width: 1000px;
    height: 80px;
    border: 4px solid black;
}
#ipt input{
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
    border: none;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#sub{
    font-size: 38px;
    font-family:Arial, Helvetica, sans-serif;
    width: 400px;
    background-color:rgb(114, 245, 150);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center center;
}
#sub:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#action{
    margin-top: 150px;
    font-size: 48px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Youtube Video */

.ytbvideo{
    margin-top: 90px;
}
.ytbvideo .video{
    display: flex;
    justify-content: space-between;
    width: 1450px;
    margin: auto;
}
.ytbvideo #videodescription{
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}


.fea #title{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}
.collab{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collab-three-column{
    margin-top: 80px;
}
.collab-three-column .threeimage{
    margin: auto;
    width: 1000px;
    justify-content: space-between;
}